/*Header*/

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  background-color: #CCCCCC;
}
.menu{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  
}

.menu a{
  text-decoration: none;
  color: black;
}


.menu>li{
  margin-right: 8%;
  
}

.menu a:hover{
  transform: scale(1.5);
  color: #FF6B00;
  font-weight: bold;
}


/*Main*/

h1, h3{
  font-size: 40px;
}
.top{
  padding: 1%;
  text-align: center;
  background-color:#FF6B00 ;
  color: #ffffff;
  
}


  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #cccccc;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
  }
  
  .column {
    width: 300px;
    margin: 10px;
    text-align: center;
    
  }
  
  figure {
    margin: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  figcaption {
    text-align: center;
  }
  /*Compras*/
  .res-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .res-item img {
    margin-right: 5px;
  }
  
  .res-item-details h3 {
    margin: 10px;
    font-size: 40px;
  }
  
  .res-item-details p {
    margin: 10px;
    font-size: 30px;
  }
  
  .res-item-details button {
    margin-top: 10px;
  }

  button{
    margin-left: 10px;
    background-color: #FF6B00;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    color: aliceblue;
    border: none;
    font-size: 16px;
    font-weight: bold;


}
  
  
  /*Footer*/
footer {
  background-color: #19181E;
  padding: 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo-column {
  display: flex;
  align-items: center;
}

.logoF {
  width: 50px;
  margin-right: 8px;
}

.column {
  flex-basis: 15%;
  margin-bottom: 10px;
}

footer h3, h4 {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  color: aliceblue;
}

footer p {
  margin-bottom: 5px;
  color: aliceblue;
}
span{
  color: #FF6B00;
}
